* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(72, 151, 222, 1) 43%,
    rgba(0, 212, 255, 1) 79%
  );
  font-family: "DM Serif Text", serif;
  font-weight: 100;
  font-style: normal;
}

a {
  text-decoration: none;
  color: aliceblue;
}

li {
  list-style: none;
}

/* Header styling */

header {
  color: aliceblue;
  border-bottom: 0.1px solid white;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  font-family: sans-serif;
}

.left-nav {
  display: none;
}

.mid-nav h3 {
  font-weight: 400;
}

.right-nav {
  display: flex;
  gap: 1rem;
}

.right-nav i {
  transform: rotate(-60deg);
}

.right-nav-content {
  display: flex;
  gap: 0.5rem;
}

@media screen and (min-width: 536px) {
  .left-nav {
    display: flex;
  }
  .left-nav-list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}

/* Hero Page */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92vh;
  text-align: center;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hero h1 {
  font-size: 4rem;
  max-width: 600px;
  color: white;
}

.hero p {
  color: whitesmoke;
  max-width: 600px;
  font-family: sans-serif;
  font-weight: 100;
}

.hero .arrow-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero .btn {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 1px solid white;
  color: white;
  transform: rotate(-60deg);
  background: none;
}

@media screen and (min-width: 536px) {
  .hero h1 {
    font-size: 5rem;
  }
}
